#m1-form, #m1-form>div, .close-m1, .popup-m1-title, .popup-m1-cont, .popup-m1-form, .popup-m1-text2, .popup-m1-text1, #m1-form .popup-m1-form input[type="text"], #m1-form .popup-m1-form button {
  width: auto;
  max-width: none;
  height: auto;
  max-height: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  float: none;
  position: relative;
  background: none;
  line-height: normal;
  font-family: "Tahoma", "Geneva", "Kalimati", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#m1-form {
  position: fixed;
  display: none;
  width: 450px;
  margin-left: -225px;
  margin-top: -280px;
  top: 50%;
  /*    top: 10%;*/
  left: 50%;
  background: #fff;
  z-index: 9999999;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

#m1-form a.close-m1 {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 26px;
  top: 3px;
  right: 3px;
  background: transparent;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  z-index: 999;
}

#m1-form a.close-m1:before {
  content: '\00D7';
}

#m1-form>div {
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#m1-form .popup-m1-title {
  position: relative;
  padding: 20px 0px 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.7px;
  line-height: 1.3em;
  color: #fff;
  background: #64ca50;
}

#m1-form .popup-m1-title:before, #m1-form .popup-m1-title:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 20px;
  bottom: -10px;
  background: #64ca50;
}

#m1-form .popup-m1-title:before {
  left: 0;
  transform: skew(0deg, 4deg);
}

#m1-form .popup-m1-title:after {
  right: 0;
  transform: skew(0deg, -4deg);
}

#m1-form .popup-m1-cont {
  position: relative;
  padding: 45px 20px 30px;
  color: #333;
  font-size: 17px;
  line-height: 1.5em;
}

#m1-form .popup-m1-cont div.popup-m1-text1 {
  text-align: center;
}

#m1-form .popup-m1-form {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background: none;
  padding: 30px 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

#m1-form .popup-m1-form:after {
  content: '';
  display: block;
  clear: both;
  height: 0px;
}

#m1-form .popup-m1-form input[type="text"], #m1-form .popup-m1-form button {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  background: #fff;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}

#m1-form .popup-m1-form button {
  font-weight: 700;
  text-transform: uppercase;
}

#m1-form .popup-m1-form input[type="text"]::-webkit-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

#m1-form .popup-m1-form input[type="text"]:-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

#m1-form .popup-m1-form input[type="text"]::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

#m1-form .popup-m1-form input[type="text"]:-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

#m1-form .popup-m1-form input[type="text"] {
  width: 90%;
  height: 64px;
  margin-bottom: 16px;
  line-height: 64px;
  font-size: 17px;
  color: #222;
  background: #fff;
  text-indent: 20px;
  border: 1px solid #ccc;
  text-shadow: none;
}

#m1-form .popup-m1-form input[type="text"]:focus {
  border-color: #aaa;
}

#m1-form .popup-m1-form button {
  width: 90%;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.7px;
  border-bottom: 3px solid #cd6c00;
  background: #ff8300;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  text-shadow: 0px 0px 0px;
}

#m1-form .popup-m1-form button:hover {
  background: #ff8f00;
}

#m1-form .popup-m1-form button:active {
  top: -1px;
}

#m1-form .popup-m1-cont div.popup-m1-text2 {
  text-align: center;
}

#m1-form .popup-m1-cont div.popup-m1-text2:before {
  content: '';
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin: 0 10px 0 0;
  top: 2px;
  background: url(popup-m1-phone.png) 0 0 no-repeat;
}

/**********For screen**********/
#overlay-popup-m1 {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  z-index: 999999;
}
