
//Цвета сайта
$color-body: #fff;
$color-hr: #ccc;
$color-button: #8c5711;
$color-pre: #eee;
$color-nav: #4B4B4B;
$color-tab-content: #0CC; 

$color-text-main: #333333;
$color-text-input: #666;
$color-text-placeholder: #666;
$color-text-input-focus: #111;
$color-link: #8c5712;
$color-link-visited: purple;
$color-link-hover: #72470e;

$color-border-button: #ccc #ccc #bbb;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-input: #ccc;

$font-main1: 'Roboto', sans-serif;
$font-main2: 'Open Sans', sans-serif;
$font-line-height-body: 1.4;
$font__line-height-pre: 1.6;
