@import url('https://fonts.googleapis.com/css?family=Marck+Script');
body {
    margin: 0;
    padding: 0;
    font-family: 'Marck Script', sans-serif;
    color: #fff;
}

.wrapper{
    width: 100%;
    background-color: #7eadbe;
}

#newsletter{
    padding:20px 0;
    text-align:center;
}

h2 {
    font-size: 30px;
}

input, button{
    display:inline-block;
    outline:none;
    padding: 9px 18px;
    margin-right:10px;
    border: none;
}

input{
    width: 30%;
    background-color: #7ec4ce;
}

input[placeholder] {
    color: #fff;
}

input[type="text"]::-webkit-input-placeholder {
    color: #fff;
}
input[type="text"]::-moz-placeholder {
    color: #fff;
}

button {
    padding: 9px 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #7ec4ce;
}

/* Smartphone + Tablet
---------------------------------- */
@media screen and (min-width:240px) and (max-width:615px) {

    input, button{
        display: block;
        margin: 10px auto;
    }

    input{min-width:220px;}

}