body, html {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  background: url(../img/bg.png);
}

body {
  padding-top: 40px;
}

.block_more_info {
  max-width: 800px;
  margin: 0px auto;
  background: #fff;
  font-family: Arial;
  padding: 20px 40px 40px 40px;
  border: 1px solid #DADADA;
  line-height: 20px;
}

.block_more_info h1 {
  color: #3B6A7C;
  margin-bottom: 30px;
  text-align: center;
}

.s1 {
  font-style: italic;
  text-align: center;
  margin: 40px 0 0 0;
  font-weight: bold;
}

@media screen and (max-width: 540px) {
  .block_more_info {
    padding: 0 10px;
  }

  body {
    padding-bottom: 40px;
  }

  .block_more_info h1 {
    font-size: 27px;
  }
}
