body { background: #333; height: 2000px }

.social {
    width: 200px;
    height: 220px;
    position: fixed;
    margin-top: 30px;
    perspective: 1000px
}

.social li a {
    display: block;
    height: 20px;
    width: 40px;
    background: #222;
    border-bottom: 1px solid #333;
    font: normal normal normal
    16px/20px
    'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background .5s ease .300ms
}

.social li:first-child  a:hover { background: #3b5998 }
.social li:nth-child(2) a:hover { background: #00acee }
.social li:nth-child(3) a:hover { background: #ea4c89 }
.social li:nth-child(4) a:hover { background: #dd4b39 }

.social li:first-child a { border-radius: 0 5px 0 0 }
.social li:last-child  a { border-radius: 0 0 5px 0 }

.social li a span {
    width: 100px;
    float: left;
    text-align: center;
    background: #222;
    color: #fff;
    margin: -25px 74px;
    padding: 8px;
    transform-origin: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(45deg);
    border-radius: 5px;
    transition: all .5s ease .300ms
}

.social li span:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    top: 7px;
    border: 10px solid transparent;
    border-right: 10px solid #222;
}

.social li a:hover span {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0)
}